{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/joc_prisoner.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.joc_prisoner.titol_pagina }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">


        <div class="capsalera_background"></div>
        <img src="/static/img/logo.png" class="page_logo"/>

        <div class="page_title">{{ text.joc_prisoner.titol2 }}</div>

        <hr class="separador-top" />

        <!-- FASE 1 -->
        <!--
        <div class="text_info2">{{ text.joc_prisoner.text2 | safe }}</div>
        -->

        <table class="taula_resum_advantatge" width="800px;" hidden="True">
            <tr>
                <th>{{ text.joc_prisoner.si_tu }}</th>
                <th>{{ text.joc_prisoner.i_ell }}</th>
                <th>{{ text.joc_prisoner.tu_guanyes }}</th>
                <th>{{ text.joc_prisoner.ell_guanya }}</th>
            </tr>
            <tr>
                <td>CONSERVAR</td>
                <td>CONSERVAR</td>
                <td>{{matrix.0.0}} {{ text.common.monedes }}</td>
                <td>{{matrix.0.1}} {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>CONSERVAR</td>
                <td>MULTIPLICAR</td>
                <td>{{matrix.1.0}} {{ text.common.monedes }}</td>
                <td>{{matrix.1.1}} {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>MULTIPLICAR</td>
                <td>CONSERVAR</td>
                <td>{{matrix.2.0}} {{ text.common.monedes }}</td>
                <td>{{matrix.2.1}} {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>MULTIPLICAR</td>
                <td>MULTIPLICAR</td>
                <td>{{matrix.3.0}} {{ text.common.monedes }}</td>
                <td>{{matrix.3.1}} {{ text.common.monedes }}</td>
            </tr>
        </table>

        <table class="taula_resum_disadvantatge" width="800px;" hidden="True">
            <tr>
                <th>{{ text.joc_prisoner.si_tu }}</th>
                <th>{{ text.joc_prisoner.i_ell }}</th>
                <th>{{ text.joc_prisoner.tu_guanyes }}</th>
                <th>{{ text.joc_prisoner.ell_guanya }}</th>
            </tr>
            <tr>
                <td>CONSERVAR</td>
                <td>CONSERVAR</td>
                <td>{{matrix.0.1}} {{ text.common.monedes }}</td>
                <td>{{matrix.0.0}} {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>CONSERVAR</td>
                <td>MULTIPLICAR</td>
                <td>{{matrix.2.1}} {{ text.common.monedes }}</td>
                <td>{{matrix.2.0}} {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>MULTIPLICAR</td>
                <td>CONSERVAR</td>
                <td>{{matrix.1.1}} {{ text.common.monedes }}</td>
                <td>{{matrix.1.0}} {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>MULTIPLICAR</td>
                <td>MULTIPLICAR</td>
                <td>{{matrix.3.1}} {{ text.common.monedes }}</td>
                <td>{{matrix.3.0}} {{ text.common.monedes }}</td>
            </tr>
        </table>

        <div class="pregunta_prisoner1">{{ text.joc_prisoner.pregunta1 | safe }}
        </div>

        <button id="button-guess-D" class="bx bx-push bx-blaustencilwhite">MULTIPLICAR</button>
        <button id="button-guess-C" class="bx bx-push bx-blaustencilwhite">CONSERVAR</button>


        <!-- FASE 2 -->

        <div class="pregunta_prisoner2" hidden>{{ text.joc_prisoner.pregunta2 }}
        </div>

        <button id="button-D" class="bx bx-push bx-blaustencil">MULTIPLICAR</button>
        <button id="button-C" class="bx bx-push bx-blaustencil">CONSERVAR</button>

        <!-- FASE 3 -->

        <div class="esperant_prisoner" hidden>
            <i id="presentacio_waiting"class="fa fa-spinner fa-spin fa-5x"></i>
        </div>

        <div class="esperant_prisoner_text" hidden>{{ text.joc_prisoner.esperant_resposta }}
        </div>

        <!-- FASE 3 -->

        <div class="seleccio" hidden>{{ text.joc_prisoner.tu_has }}
        </div>

        <div class="seleccio_valor" hidden>
        </div>

        <div class="oponent" hidden>{{ text.joc_prisoner.el_ha }}</div>

        <div class="oponent_valor" hidden>
        </div>

        <div class="resultat" hidden>{{ text.joc_prisoner.tu_premi }}

        </div>

        <div class="resultat_valor" hidden>
        </div>


        <div class="resultat_op" hidden>{{ text.joc_prisoner.el_premi }}

        </div>

        <div class="resultat_op_valor" hidden>
        </div>



        <hr class="separador-bottom" />

        <div class="page_button_right" hidden>
            <!--
            <button id="boto_enquesta" type="button" onclick="location.href='/{{ lang }}/user/joc_inversor1'" name="logout" class="bx bx-pbx-blaustencilncil" >
                {{ text.joc_prisoner.boto_final }}
            </button>
            -->
            <button id="boto_enquesta" type="button" onclick="location.href='/{{ lang }}/user/joc_prisoner2_asimetric'" name="logout" class="bx bx-push bx-blaustencil" >
                {{ text.joc_prisoner.boto_seguent }}
            </button>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script>

    function button_pressed_guess(value) {
        console.log("Apretat "+value);
        //Amagar botons i ensenyar mes text

        $('.pregunta_prisoner1').hide();
        $("#button-guess-C").hide();
        $("#button-guess-D").hide();

        $("#button-C").show();
        $("#button-D").show();

        $('.pregunta_prisoner2').show();

        enviar_accio_guess({{ user.id }},value);
    }

    function button_pressed(value) {
        console.log("Apretat "+value);
        //Amagar botons i ensenyar mes text

        $("#button-C").hide();
        $("#button-D").hide();
        $('.pregunta_prisoner2').hide();

        $('.esperant_prisoner').show();
        $('.esperant_prisoner_text').show();


        enviar_accio({{ user.id }},value);
    }


    //Funcio per a enviar la selecció
    function enviar_accio(user, accio) {
        $.ajax({
            url: '/es/ws/enviar_accio_prisoner2/'+user+'/'+accio+'/'+{{tirada}}+'/',
            success: function(data) {
                console.log(data);
                if (data.saved == "ok") {
                    demanar_resultat({{ user.id }});
                } else {
                    enviar_accio(user, accio);
                }
            },
            error: function(){
                enviar_accio(user, accio);
            }
        });
    }


    //Funcio per a enviar la selecció
    function enviar_accio_guess(user, accio) {
        $.ajax({
            url: '/es/ws/enviar_accio_guess2/'+user+'/'+accio+'/'+{{tirada}}+'/',
            success: function(data) {
                console.log(data);
                if (data.saved == "ok") {
                } else {
                    enviar_accio_guess(user, accio);
                }
            },
            error: function(){
                enviar_accio_guess(user, accio);
            }
        });
    }


    //Funcio per a obtenir el resultat del torn
    function demanar_resultat(user) {
        console.log('demanar resultat')

        $.ajax({
            url: '/es/ws/demanar_resultat_prisoner2/'+user+'/'+{{tirada}}+'/',
            success: function(data) {
                console.log(data);
                if (data.correcte) {
                    //MOSTRAR FINAL DEL JOC
                    console.log({{tirada}})
                    $('.esperant_prisoner').hide();
                    $('.esperant_prisoner_text').hide();

                    $(".seleccio").show();
                    $(".seleccio_valor").text(data.seleccio == "C" ? 'CONSERVAR' : 'MULTIPLICAR' ).show();
                    $(".oponent").show();
                    $(".oponent_valor").text(data.oponent == "C" ? 'CONSERVAR' : 'MULTIPLICAR').show();

                    var resultat = -1;
                    var oponent = -1;
                    var matrix = {{matrix}}

                    var rol = ""

                    if ({{tirada}} == 2){
                        rol = '{{user_prisoner.rol2}}'
                    }
                    if ({{tirada}} == 3){
                        rol = '{{user_prisoner.rol3}}'
                    }

                    if (rol == 'A'){

                        if (data.seleccio == "C") {
                            console.log('avantatge')

                            if (data.oponent == "C") {
                                resultat = matrix[0][0];
                                oponent = matrix[0][1];
                            }
                            if (data.oponent == "D") {
                                resultat = matrix[1][0];
                                oponent = matrix[1][1];
                            }
                        }
                        if (data.seleccio == "D") {
                            if (data.oponent == "C") {
                                resultat = matrix[2][0];
                                oponent = matrix[2][1];
                            }
                            if (data.oponent == "D") {
                                resultat = matrix[3][0];
                                oponent = matrix[3][1];
                            }
                        }
                    }else{

                        if (data.seleccio == "C") {
                            if (data.oponent == "C") {
                                resultat = matrix[0][1];
                                oponent = matrix[0][0];
                            }
                            if (data.oponent == "D") {
                                resultat = matrix[2][1];
                                oponent = matrix[2][0];
                            }
                        }
                        if (data.seleccio == "D") {
                            if (data.oponent == "C") {
                                resultat = matrix[1][1];
                                oponent = matrix[1][0];
                            }
                            if (data.oponent == "D") {
                                resultat = matrix[3][1];
                                oponent = matrix[3][0];
                            }
                        }
                    }

                    $(".resultat").show();
                    $(".resultat_valor").text(resultat+' {{ text.common.monedes }}').show();
                    $(".resultat_op").show();
                    $(".resultat_op_valor").text(oponent+' {{ text.common.monedes }}').show();

                    $(".page_button_right").show();

                } else {
                    setTimeout(function(){demanar_resultat(user)}, 500);
                }
            },
            error: function(data) {
                setTimeout(function(){demanar_resultat(user)}, 500);
            }
        });
    }

    $(document).ready(function() {

        if ({{tirada}} == 2){

            if ('{{user_prisoner.rol2}}' == 'A') {
                $(".taula_resum_advantatge").show()
            } else {
                console.log('adios')
                $(".taula_resum_disadvantatge").show()

            }
        } else if ({{tirada}} == 3){

                if ('{{user_prisoner.rol3}}' == 'A') {
                    $(".taula_resum_advantatge").show()
                } else {
                    console.log('adios')
                    $(".taula_resum_disadvantatge").show()

                }
         }


        $("#button-guess-C").on("pushed", function(e) { button_pressed_guess('C'); });
        $("#button-guess-D").on("pushed", function(e) { button_pressed_guess('D'); });
        $("#button-C").on("pushed", function(e) { button_pressed('C'); });
        $("#button-D").on("pushed", function(e) { button_pressed('D'); });

        $("#button-C").hide();
        $("#button-D").hide();

    });



    </script>
{% endblock %}

