{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/enquesta.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.enquestafinal7.titol_pagina }}{% endblock %}

{% block content %}
    <div class="topdiv-centered">

        <div class="capsalera_background"></div>

        <div class="page_title_2">{{ text.enquestafinal7.titol }}</div>

        <hr class="separador-top" />

        <form method="post" action="/{{ lang }}/user/enquestafinal7">

            <div class="preguntafinal11">
                <div class="pregunta_titol">{{ text.enquestafinal7.pr11 }}</div>
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" name="pr11" value="{{ pr11 }}">
                    <button name="pr11" id="pr11_r1" value="r1" class="boto_mitja bx bx-option {{ pr11_1_checked }}">{{ text.enquestafinal7.pr11_r1 }}</button>
                    <button name="pr11" id="pr11_r2" value="r2" class="boto_mitja bx bx-option {{ pr11_2_checked }}">{{ text.enquestafinal7.pr11_r2 }}</button>
                    <button name="pr11" id="pr11_r3" value="r3" class="boto_mitja bx bx-option {{ pr11_3_checked }}">{{ text.enquestafinal7.pr11_r3 }}</button>
                    <button name="pr11" id="pr11_r4" value="r4" class="boto_mitja bx bx-option {{ pr11_4_checked }}">{{ text.enquestafinal7.pr11_r4 }}</button>

                </div>
                <div class="error_space">
                    {% if pr11_danger %} <span class="error">{{ text.common.error_opcio }}</span>{%  endif %}
                </div>
            </div>

            <div class="preguntafinal12">
                <div class="pregunta_titol">{{ text.enquestafinal7.pr12 }}</div>
                <div class="btn-toolbar" data-toggle="buttons">
                    
                    <input type="hidden" name="pr12_r1" value="{{ pr12_r1 }}">
                    <input type="hidden" name="pr12_r2" value="{{ pr12_r2 }}">
                    <input type="hidden" name="pr12_r3" value="{{ pr12_r3 }}">
                    <input type="hidden" name="pr12_r4" value="{{ pr12_r4 }}">
                    <input type="hidden" name="pr12_r5" value="{{ pr12_r5 }}">
                    <input type="hidden" name="pr12_r6" value="{{ pr12_r6 }}">
                   
                    <button name="pr12_r1" id="pr12_r1" value="r1" class="boto_gran bx bx-option {{ pr12_1_checked }}">{{ text.enquestafinal7.pr12_r1 }}</button>
                    <button name="pr12_r2" id="pr12_r2" value="r2" class="boto_gran bx bx-option {{ pr12_2_checked }}">{{ text.enquestafinal7.pr12_r2 }}</button>
                    <button name="pr12_r3" id="pr12_r3" value="r3" class="boto_gran bx bx-option {{ pr12_3_checked }}">{{ text.enquestafinal7.pr12_r3 }}</button>
                    </br>
                    <button name="pr12_r4" id="pr12_r4" value="r4" class="boto_gran bx bx-option {{ pr12_4_checked }}" style="margin-top: 10px;">{{ text.enquestafinal7.pr12_r4 }}</button>
                    <button name="pr12_r5" id="pr12_r5" value="r5" class="boto_gran bx bx-option {{ pr12_5_checked }}" style="margin-top: 10px;">{{ text.enquestafinal7.pr12_r5 }}</button>
                    <button name="pr12_r6" id="pr12_r6" value="r6" class="boto_gran bx bx-option {{ pr12_6_checked }}" style="margin-top: 10px;">{{ text.enquestafinal7.pr12_r6 }}</button>

                </div>
                <div class="error_space">
                    {% if pr12_danger %} <span class="error">{{ text.common.error_opcio }}</span>{%  endif %}
                </div>
            </div>

            <hr class="separador-bottom" />

            <div class="page_button_right">
                <button class="bx bx-push bx-redstencil" type="submit">{{ text.common.seguent }}</button>
            </div>


        </form>

    </div> <!-- /container -->

{% endblock %}
        
{% block javascript %}
    <script>

    $(document).ready(function() {

        $('#pr12_r1').click(function(){
            if ($('#pr12_r1').val() == 'r1'){
                $('#pr12_r1').val('')
                $('#pr12_r1').addClass("bx-option-selected");
            }else{
                $('#pr12_r1').val('r1')
                $('#pr12_r1').removeClass("bx-option-selected");
            }
        });
        $('#pr12_r2').click(function(){
            if ($('#pr12_r2').val() == 'r2'){
                $('#pr12_r2').val('')
                $('#pr12_r2').addClass("bx-option-selected");
            }else{
                $('#pr12_r2').val('r2')
                $('#pr12_r2').removeClass("bx-option-selected");
            }
        });
        $('#pr12_r3').click(function(){
            if ($('#pr12_r3').val() == 'r3'){
                $('#pr12_r3').val('')
                $('#pr12_r3').addClass("bx-option-selected");
            }else{
                $('#pr12_r3').val('r3')
                $('#pr12_r3').removeClass("bx-option-selected");
            }
        });
        $('#pr12_r4').click(function(){
            if ($('#pr12_r4').val() == 'r4'){
                $('#pr12_r4').val('')
                $('#pr12_r4').addClass("bx-option-selected");
            }else{
                $('#pr12_r4').val('r4')
                $('#pr12_r4').removeClass("bx-option-selected");
            }
        });
        $('#pr12_r5').click(function(){
            if ($('#pr12_r5').val() == 'r5'){
                $('#pr12_r5').val('')
                $('#pr12_r5').addClass("bx-option-selected");
            }else{
                $('#pr12_r5').val('r5')
                $('#pr12_r5').removeClass("bx-option-selected");
            }
        });
        $('#pr12_r6').click(function(){
            if ($('#pr12_r6').val() == 'r6'){
                $('#pr12_r6').val('')
                $('#pr12_r6').addClass("bx-option-selected");
            }else{
                $('#pr12_r6').val('r6')
                $('#pr12_r6').removeClass("bx-option-selected");
            }
        });

    });

    </script>
{% endblock %}

