{% extends "admin.html" %}


{% block stylesheet %}
    <link href="/static/css/admin.css" rel="stylesheet" media="screen">
    <link href="/static/css/admin_registre.css" rel="stylesheet" media="screen">

{% endblock %}


{% block content_admin %}

    {% if not registre_iniciat  %}

        <div id="usuaris_titol">
            Currently there are no games registering participants...
        </div>

        <form method="post" action="/{{ lang }}/admin/registre">
            <button id="boto_registre" type="submit" name="registre" class="bx-push bx bx-main" >
                Open new register
            </button>

            <div class="control_wealth_previous">
                <div class="control_wealth_text" style="font-weight: bold">Wealth</div>
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" name="control_wealth" value="{{ control_wealth }}">
                    <button name="control_wealth" id="control_wealth_0" value="EQUAL" class="button_S bx bx-option {{ control_wealth_0_checked }}">Equal</button>
                    <button name="control_wealth" id="control_wealth_1" value="UNEQUAL" class="button_S bx bx-option {{ control_wealth_1_checked }}">Unequal</button>
                    <button name="control_wealth" id="control_wealth_2" value="EMERGE" class="button_S bx bx-option {{ control_wealth_2_checked }}">Emerge</button>
                </div>
            </div>

            <div class="control_reward_previous">
                <div class="control_reward_text" style="font-weight: bold">Reward</div>
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" name="control_reward" value="{{ control_reward }}">
                    <button name="control_reward" id="control_reward_0" value="SOCIAL" class="button_S bx bx-option {{ control_reward_0_checked }}">Social</button>
                    <button name="control_reward" id="control_reward_1" value="ECONOMIC" class="button_S bx bx-option {{ control_reward_1_checked }}">Economic</button>
                </div>
            </div>
        </form>

    {%  else %}

        <div id="llista_usuaris_titol">
            Participants register
        </div>

        <div id="llista_usuaris"></div>

        <form method="post" action="/{{ lang }}/admin/registre">

            <div class="control_wealth">
                <div class="control_wealth_text" style="font-weight: bold">Wealth</div>
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" name="control_wealth" value="{{ control_wealth }}">
                    <button name="control_wealth" id="control_wealth_0" value="EQUAL" class="button_S bx bx-option {{ control_wealth_0_checked }}">Equal</button>
                    <button name="control_wealth" id="control_wealth_1" value="UNEQUAL" class="button_S bx bx-option {{ control_wealth_1_checked }}">Unequal</button>
                    <button name="control_wealth" id="control_wealth_2" value="EMERGE" class="button_S bx bx-option {{ control_wealth_2_checked }}">Emerge</button>
                </div>
            </div>

            <div class="control_reward">
                <div class="control_reward_text" style="font-weight: bold">Reward</div>
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" name="control_reward" value="{{ control_reward }}">
                    <button name="control_reward" id="control_reward_0" value="SOCIAL" class="button_S bx bx-option {{ control_reward_0_checked }}" disabled>Social</button>
                    <button name="control_reward" id="control_reward_1" value="ECONOMIC" class="button_S bx bx-option {{ control_reward_1_checked }}" disabled>Economic</button>
                </div>
            </div>

            <button id="boto_iniciar" type="submit" name="registre" class="bx-push bx bx-main" >
                Empezar!!
            </button>
        </form>

        {% if partida_jugant %}
        <div id="partida_jugant">
            The game can not start, there is a game active.
        </div>
        {%  endif %}

    {%  endif %}

{% endblock %}

{% block javascript %}

    {% if registre_iniciat  %}
        <script>

            function deleteUser(id_user) {
                $.ajax({
                    url: '/es/ws/delete_user/'+id_user+'/',
                    success: function(data) {
                        console.log(data)
                    }})
            }

            function update_list() {
                $.ajax({
                    url: '/es/ws/usuaris_registrats/',
                    success: function(data) {
                        if(data.registering==true) {
                            mytext = '<table width="90%"><tr>'+
                                    '<th style="font-size:15px;font-weight:bold;width:50px;">n</th>'+
                                    '<th style="font-size:15px;font-weight:bold;width:50px;">ID</th>'+
                                    '<th style="font-size:15px;font-weight:bold;width:100px;">Name</th>'+
                                    '<th style="font-size:15px;font-weight:bold;width:100px;">Last status</th>'+
                                    '<th style="font-size:15px;font-weight:bold;width:100px;">Pollution</th>'+
                                    '<th style="font-size:15px;font-weight:bold;width:180px;">Date</th>'+
                                    '<th style="font-size:15px;font-weight:bold;width:180px;"></th>'+
                                    '</tr></table>';
                            for (i = 0; i < data.usuaris.length; i++) {

                                mytext += '<table width="90%"><tr>'+
                                        '<td style="font-size:14px;width:50px;"><b>' + (i+1) + '</b></td>'+
                                        '<td style="font-size:14px;width:50px;">' + data.usuaris[i].id_user  + '</td>'+
                                        '<td style="font-size:14px;width:100px;">' + data.usuaris[i].nom + '</td>'+
                                        '<td style="font-size:14px;width:100px;">' + data.usuaris[i].status + '</td>'+
                                        '<td style="font-size:14px;width:100px;">' + data.usuaris[i].pollution + '</td>'+
                                        '<td style="font-size:14px;width:180px;">' + data.usuaris[i].date + '</td>'+
                                        '<td style="font-size:14px;width:180px;"><button onclick="deleteUser(' + data.usuaris[i].id_user + ')" class="bx-push bx bx-main" style="width:100px;height:24px;font-size:12px;padding:0px 0px 0px 0px;">' + "DELETE" + '</button></td>'+
                                        '</tr></table>'
                            }
                            $('#llista_usuaris').html(mytext);
                        }
                        setTimeout(function(){update_list()}, 1000);
                    },
                    error: function(data) {
                         setTimeout(function(){update_list()}, 1000);
                    }
                });
            }

            $(document).ready(function() {
                update_list();
            });
        </script>

    {%  endif %}


{% endblock %}

