{% extends "admin.html" %}


{% block stylesheet %}
    <link href="/static/css/admin.css" rel="stylesheet" media="screen">
    <link href="/static/css/admin_users.css" rel="stylesheet" media="screen">
{% endblock %}


{% block content_admin %}
    <div id="users_1" class="userlist">
        <table>
            <tr>
                <th class="th_valor" style="width:50px">ID</th>
                <th class="th_nickname" style="width:150px">Nickname</th>
                <th class="th_valor" style="width:150px">Status</th>
                <th class="th_valor" style="width:75px">Game</th>
                <th class="th_valor" style="width:150px">Status</th>
                <th class="th_valor" style="width:75px">Initial</th>
                <th class="th_valor" style="width:75px">Current</th>
            </tr>

        {% for user in users %}
            <tr>
              <td class="td_valor">{{ user.id }}</td>
              <td class="td_valor">{{ user.nickname }}</td>
              <td class="td_valor" style="font-weight:bold;">{{ user.user_status }}</td>
              <td class="td_valor">{{ user.partida }}</td>
              <td class="td_valor">{{ user.partida_status }}</td>
              <td class="td_valor">{{ user.endowment_initial }}</td>
              <td class="td_valor">{{ user.endowment_current }}</td>

            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
